.login-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.menu-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

input {
  width: 150px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.item-img {
  width: 300px;
  height: 300px;
}

.item-container {
  transition: all 0.2s linear;
  padding-bottom: 30px;
}

.item-container:hover {
  transform: scale(1.1);
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.product-info div {
  padding-bottom: 10px;
  justify-content: center;
  text-align: left;
}

.dropdown-toggle.menu {
  background-color: transparent !important;
  border: 1px solid black !important;
  color: black !important;
}

.dropdown-menu {
  border: 1px solid black !important;
  background-color: white !important;
}

.dropdown-item {
  color: black !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu-list.pc {
    display: none;
  }

  .dropdown-toggle.menu {
    display: block !important;
  }

  .mobile {
    display: block;
  }

  .menu-area {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .search-box {
    order: 2;
  }

  .menu-container {
    order: 1;
    display: flex;
    justify-content: left;
  }

  .product-img {
    padding-top: 15px;
    height: 35rem;
    display: flex;
    justify-content: start;
  }
}
