body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.login-button {
  display: flex;
  justify-content: right; /* 좌우로 정렬 */
  align-items: center; /* 같은 선상에 정렬 */
  cursor: pointer;
  padding: 1.25rem 2.5rem; /* 패딩을 추가해 배치 조정 */
}

.auth {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 15px;
}

.nav-section {
  display: none; /* 로고를 login-button으로 이동했으므로 숨김 */
}

.menu-area {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.menu-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

input {
  width: 150px;
  height: 32px;
  font-size: 15px;
  border: solid 1px;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
}

.item-img {
  width: 300px;
  height: 300px;
}

.item-container {
  transition: all 0.2s linear;
  padding-bottom: 30px;
}

.item-container:hover {
  transform: scale(1.1);
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.product-info div {
  padding-bottom: 10px;
  justify-content: center;
  text-align: left;
}

.dropdown-toggle.menu {
  background-color: transparent !important;
  border: 1px solid black !important;
  color: black !important;
}

.mobile {
  display: none;
}

.span-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 15px;
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* 왼쪽에서 열리도록 설정 */
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  left: 0; /* 왼쪽에서 열리게 설정 */
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.sidebar-menu li:hover {
  background-color: #f2f2f2;
}

.search-box {
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .login-button {
    display: flex;
    justify-content: space-between; /* 좌우로 정렬 */
    align-items: center; /* 같은 선상에 정렬 */
    cursor: pointer;
    padding: 1.25rem 2.5rem; /* 패딩을 추가해 배치 조정 */
  }
  .menu-list.pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  .menu-area {
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu-container {
    order: 1;
    display: flex;
    justify-content: flex-start;
  }

  .search-box {
    display: none;
  }

  .product-img {
    padding-top: 15px;
    height: 35rem;
    display: flex;
    justify-content: start;
  }
}
.logo {
  display: flex;
  justify-content: center;
}
